
:root {
    --background-color: rgba(79, 147, 235, 0.9);
    --container-width: 80%;
    --container-background: rgba(255, 255, 255, 0.9);
    --header-background: #52adf7;
    --extra-color: #ffffff;
}






header {
    background-color: var(--header-background);
    color: #fff;
   
   width:100%; 
    display: flex;
    flex-wrap: wrap;
}

h1 {
    
   text-align: center;
    width: 100%;
    
}




.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weekday-card {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #55ddff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.weekend-card {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #4affba;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    

}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.dark-mode {
    background-color: #222;
    color: #fff;
}


.fa-sun,
.fa-moon {
    margin-right: 10px;
    font-size: 18px;
}

.demo-wrap {
    position: relative;
  }
  
  .demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('hatter.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  
  .demo-content {
    position: relative;
  }

  .nap{
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #fadf46;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .hetvege{
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #e76d1b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .orak{
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #ca98f3;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }